body {
  background-color: #F1F1F1;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.works {
  /* background-color: purple; */
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.frame {
  /* background-color: orange; */
  width: 100%;
  height: 100%;
}
.nav {
  position: relative;
  z-index: 1000;
  bottom: 0;
  left: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.left {
  position: absolute;
  left: 0;
}
.right {
  position: absolute;
  right: 0;
}
.top {
  position: absolute;
  top: 0;
}



.nav-item {
  position: relative;
  padding: 30px;
  z-index: 1000;
}
sample02{
  display: inline-block;
    vertical-align: bottom;
    opacity: 1 !important;
    width: 100%;
}











/* OLD */










.row.bottom {
    
    bottom: 0px !important;
    position: absolute !important;
}

svg {
    height: 34.5px;
    width: 34.5px;
    bottom: 0;
    align-items: baseline;
    vertical-align: text-bottom;
}

span#sample {
    align-items: baseline;
    justify-content: start;
}



* {
  margin: 0; 
  padding: 0;
  border: 0; 
  background-repeat: no-repeat;
  box-sizing: inherit; 
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
  box-sizing: border-box; 
  scroll-behavior: smooth;
}



body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  overflow-x: hidden; 
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;

}


a {
  text-decoration: none; 
  color: inherit; 
  display: inline-block;
  background-color: transparent;
  opacity: 1 !important;
}


ol,
ul {
  list-style: none;
}



button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: visible;

  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;

}


option {
  background-color: inherit;
}


a:active,
button:active {
  color: inherit;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}


textarea {
  resize: none;
}


input[type="button"],
button {
  cursor: pointer;
}


button[disabled],
html input[disabled] {
  cursor: default;
}


img {
  display: block; 
  max-width: 100%;
  height: auto; 
  border-style: none; 
}


svg {
  fill: currentColor;
}



table {
  border-collapse: collapse;
}



:root {



    --font-family-primary: 'HelveticaNeue-Regular', sans-serif;
    --font-family-secondary: 'HelveticaNeue-Regular', sans-serif;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;


    --baseline: calc(12 * 1px);

    --base-line-height: calc(var(--baseline) * 2);

    --base-font-size: 1rem;


    --spacing-1: var(--baseline);
    --spacing-2: calc(var(--baseline) * 2);
    --spacing-3: calc(var(--baseline) * 3);
    --spacing-4: calc(var(--baseline) * 4);
    --spacing-5: calc(var(--baseline) * 5);
    --spacing-6: calc(var(--baseline) * 6);
    --spacing-7: calc(var(--baseline) * 7);
    --spacing-8: calc(var(--baseline) * 8);
    --spacing-9: calc(var(--baseline) * 9);
    --spacing-10: calc(var(--baseline) * 10);


    --BG: #F0F1F1;
    --light: #F3F3FA;
    --regular: #B7B6B5;
    --green: #1B2421;
    --grey: #B7B6B5;
    --dark: #0D0E0E;

    --red: #AE483F;
  
    --yellow: #FFFF4D;
}

html {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-400);

    font-size: var(--base-font-size);
}



h1::selection {
  background-color: var(--white);
color: var(--red);
}

span::selection {
  background-color: var(--white);
  color: var(--red);
}

button::selection {
  background-color: var(--white);
color: var(--red);
}

a::selection {
  background-color: var(--white);
  color: var(--red);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
cite {
    --line-height: calc(var(--baseline) * var(--baseline-multi));
    --baseline-offset: calc((var(--line-height) - var(--cap-height) * var(--font-size)) / 2);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-top: var(--baseline-offset);

}

h1 {
    --cap-height: 0.826;
    --font-size: 30px;
    --baseline-multi: 3;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-400);
    color: var(--light);
    margin-bottom: calc(1 * var(--base-line-height) - var(--baseline-offset));
}

h6 {
    --cap-height: 0.826;
    --font-size: 12px;
    --baseline-multi: 3;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-400);
    color: var(--light);
    margin-bottom: calc(1 * var(--base-line-height) - var(--baseline-offset));
}

h2 {
    --cap-height: 0.826;
    --font-size: 34px;
    --baseline-multi: 6;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-800);
    margin-bottom: calc(2 * var(--base-line-height) - var(--baseline-offset));
    letter-spacing: 12px

}

h2 span {

}

h3 {
    --cap-height: 0.826;
    --font-size: 34px;
    --baseline-multi: 6;
    font-weight: var(--font-weight-600);
    color: #253b7b;
    font-family: var(--font-family-secondary);
    margin-bottom: calc(2 * var(--base-line-height) - var(--baseline-offset));
}

h3 q {
    font-weight: 800
}

p {
    --cap-height: 0.752;
    --font-size: 15px;
    --baseline-multi: 4;
    font-weight: var(--font-weight-500);
    color: #999;
    margin-bottom: calc(var(--baseline-offset) * -1);
}


p.ampersand {
    --cap-height: 0.676;
    --font-size: 144px;
    --baseline-multi: 12;
    font-family: 'Alegreya';
    font-weight: var(--font-weight-700);
    color: #000;
    text-align: center;
    display: block;
    margin-bottom: calc(3 * var(--base-line-height) - var(--baseline-offset));

}

a, button{
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-400);

    display: inline-block;
    text-decoration: none;
    color: var(--red);
    position: relative;
    z-index: 1;

}

a::before {
    content: '';
    position: absolute;
}

a:hover::before {

}

a span {
    display: inline-block;
    vertical-align: bottom;

    opacity: 1 !important;

    width: 100%;
}

a:hover span {

}

cite {
    display: block;
    --cap-height: 0.752;
    --font-size: 14px;
    --baseline-multi: 2;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-400);
    font-style: normal;
    margin-bottom: calc(var(--baseline-offset) * -1);
    color: #000;
    text-align: right
}

blockquote {
    position: relative;
}

blockquote::before {
    content: open-quote;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-800);
    font-size: 70px;
    color: #000;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(var(--spacing-1) * -1);
    text-align: center;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--green);
    overflow-x: hidden
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    display: block;
    background-color: var(--white);

}

.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-3) var(--spacing-3);
    position: relative;
}

.row:not(:nth-of-type(1)) {
    padding: var(--spacing-3) calc(var(--spacing-3) * 1);
    padding-top: var(--spacing-3) calc(var(--spacing-3)* 1) !important;
}


.menu {
  position: absolute;
  left: 30px;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  gap:15px;
}

.menu-right {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.menu-left {
  position: absolute;
  left: 30px;
  bottom: 30px;
}


.menu-item {
  color: red;
}

.row:nth-of-type(3) {
    flex-direction: column;
}

.row:nth-of-type(2)::before {
    background-color: var(--white);
}

.row:nth-of-type(3)::before {
    background-color: var(--green);
}

.row:nth-of-type(4)::before {
    background-color: var(--green);
}




.row:not(:nth-of-type(1))::before {
    content: '';
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0
}

.row:not(:nth-of-type(1))::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;

}


.row .column {

    max-width: 836px;
}



.row:nth-of-type(2) .column {

}


@media screen and (max-width: 1366px) {

    .row:nth-of-type(4) .column,
    .row:nth-of-type(5) .column {
        max-width: 500px;
    }
}

@media screen and (max-width: 1140px) {
    .row {
        padding: var(--spacing-3) var(--spacing-3);
    }

    .row:nth-of-type(4) .column {
        max-width: 420px;
    }
}

@media screen and (max-width: 1024px) {

    .row:nth-of-type(4),
    .row:nth-of-type(5) {
        flex-direction: column;
        align-items: center;
    }

    .row:nth-of-type(4) .column:nth-of-type(1),
    .row:nth-of-type(5) .column:nth-of-type(1) {
        margin-bottom: var(--spacing-3)
    }

    .row:nth-of-type(4) .column,
    .row:nth-of-type(5) .column {
        max-width: 600px;
    }
}


@media screen and (max-width: 640px) {
    .row {
        padding: var(--spacing-3) var(--spacing-3);
    }

    h1 {

        --font-size: 30px
    }

    p {
        --font-size: 18px
    }

    h2,
    h3 {
        --font-size: 30px;

    }

 
    a span {
        top: 11px
    }

}

@media screen and (max-width: 480px) {
    h2 {
        letter-spacing: 6px;
        margin-left: -6px
    }

    a, h1, h2 {
        font-size: 15px;
        line-height: calc(var(--line-height) / 2);
    }

    svg {
        height: calc(34.5px / 2);
        width: calc(34.5px / 2);
    }

    a span {
        top: 13px
    }

    .row, .row:nth-of-type(2) .column {
        max-width: 100%;
    }

    .row, .row:not(:nth-of-type(1)) {
        padding: var(--spacing-3) calc((var(--spacing-3)* 1) / 2);
        padding-top: var(--spacing-3) calc((var(--spacing-3)* 1) / 2);
        padding-bottom: calc((var(--spacing-3)* 1) / 2);
    }

}

@media screen and (max-width: 480px) {
    h2 {
        letter-spacing: 6px;
        margin-left: -6px
    }

    a, h1, h2 {
        font-size: 15px;
        line-height: calc(var(--line-height) / 2);
    }

    svg {
        height: calc(34.5px / 2);
        width: calc(34.5px / 2);
    }

    .row, .row:not(:nth-of-type(1)) {
        padding: var(--spacing-3) calc((var(--spacing-3)* 1) / 2);
        padding-top: var(--spacing-3) calc((var(--spacing-3)* 1) / 2);
        padding-bottom: calc((var(--spacing-3)* 1) / 2);
    }

    a span {
        top: 13px
    }
}
